@import "tailwindcss";

@theme {
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-brand: #646cff;
  --color-brand-hover: #535bf2;

  --color-fg-dark: #eaf0ff;
  --color-bg-dark: var(--color-gray-900);

  --color-fg-light: #213547;
  --color-bg-light: #fafafa;
}

@layer base {
  :root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--color-fg-dark);
    background-color: var(--color-bg-dark);
  }

  /* body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;

    font-family: var(--font-sans);
    line-height: 1.5;
    font-weight: 400;
  }

  a {
    font-weight: 500;
    color: var(--color-brand);
    text-decoration: inherit;
  }
  a:hover {
    color: var(--color-brand-hover);
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  } */

  /* button {
    background-color: var(--color-brand);
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;

    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  } 
  button:hover {
    border-color: var(--color-brand);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  } */

  /* Background */
  .app-bg {
    position: relative;
    overflow: hidden;
  }

  .card {
    padding: 2em;
  }

  .p-toolbar {
    --p-toolbar-border-radius: 1rem;
    --p-toolbar-padding: 1;
    --p-toolbar-background: #ffffff;
  }

  .p-toolbar button {
    --p-button-border-radius: 1rem;
    /* --p-button-primary-background: transparent; */
  }

  .nav-link {
    padding: 8px 16px;
    border-radius: 8px;
    color: #98a1b3;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.95rem;
    transition: all 0.2s ease;
    display: inline-block;
  }

  .nav-link:hover {
    background: rgba(255, 255, 255, 0.05);
  }

  .nav-link-active {
    color: var(--color-brand);
    background: rgba(107, 107, 255, 0.1);
  }

  .tv-category-button {
    background-color: var(--color-brand);
  }

  #app {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #fafafa;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
