@import "tailwindcss";

@theme {
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-brand: #646cff;
  --color-brand-hover: #535bf2;

  --color-fg-dark: #eaf0ff;
  --color-bg-dark: var(--color-gray-900);

  --color-fg-light: #213547;
  --color-bg-light: #fafafa;
}

@layer base {
  :root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--color-fg-dark);
    background-color: var(--color-bg-dark);
  }

  /* Background */
  .app-bg {
    position: relative;
    overflow: hidden;
  }

  .card {
    padding: 2em;
  }

  .p-toolbar {
    --p-toolbar-border-radius: 1rem;
    --p-toolbar-padding: 1;
    --p-toolbar-background: #ffffff;
  }

  .p-toolbar button {
    --p-button-border-radius: 1rem;
  }

  .nav-link {
    padding: 8px 16px;
    border-radius: 8px;
    color: #98a1b3;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s ease;
    display: inline-block;
  }

  .nav-link:hover {
    background: rgba(255, 255, 255, 0.05);
  }

  .nav-link-active {
    color: var(--color-brand);
    background: rgba(107, 107, 255, 0.1);
  }

  .tv-category-button {
    background-color: var(--color-brand);
  }

  #app {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}